<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarot">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ReaderActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".CustomerHistoryActivity" />
        <activity android:name=".CustomerEditProfileActivity" />
        <activity android:name=".ReaderEditProfileActivity" android:exported="false" />
        <activity android:name=".CustomerOrderActivity" />
        <activity android:name=".AdminManageUserActivity" />
        <activity android:name=".AdminAddUserActivity"/>
        <activity android:name=".AdminEditUserActivity"/>
        <activity android:name=".AdminManageTarotActivity"/>
        <activity android:name=".AdminAddTarotActivity"/>
        <activity android:name=".AdminEditTarotActivity"/>
        <activity android:name=".AdminTestimoniActivity"/>
        <activity android:name=".AdminReportActivity"/>
        <activity android:name=".AdminManagePesananActivity" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />

    </application>
</manifest>